{{#each articles}}
<div class="story-body" id={{this._id}}>
<h2>
<a href="{{this.link}}" target="_blank">{{this.title}}</a>
<form action="/save/{{this._id}}" method="POST">
<button type="submit" class="status btn-sm bg-white" value="{{this.status}}">{{this.status}}</button>
</form>
</h2>
 <div class="row">
    <summary class="col-9">{{this.summary}}</summary>
    <img class="media col-3" src="{{this.img}}">
    </div>
</div>
{{/each}}

  